
#loading-data{
   
    z-index: 10;
    background-color: rgba(241, 241, 241, 0.5);
    position: absolute;   
    height: 100vh;
    display: flex;
    align-items: center ;
    justify-content: center;
    width: calc(100% - 178px);
    left: 176px;
    
}
.icon-loading{
   
    width: 40px;
    height: 40px;
    position: absolute;
    margin-bottom: 7%;
    
    /* left: 50%; */
    animation: spin 5s linear infinite;
  
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }